<section class="contact" id="contact">
    <h2>CONTACT US</h2>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
    <form novalidate autocomplete="on">
    <div class="contact-content">
    <div class="login">
    <table>
        <thead></thead>
        <tbody>
            <tr>
                <td><input type="text"  placeholder="Your Name *" name="name"  id="form"></td>
            </tr>
            <tr>
                <td><input type="text"  placeholder="Your Email *" name="email"  id="form"></td>
            </tr>
            <tr>
                <td><input type="text"  placeholder="Your Phone *" name="phonenum" id="form"></td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="message">
        <textarea  placeholder="Your Message *"  id="textarea"></textarea>
    </div>
    </div>
    
        <button type="submit">SEND MESSAGE</button>
    
    </form>
</section>