<section class="portfolio" id="portfolio">
    <h2>PORTFOLIO</h2>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
    <div class="portfolio-content1">
        <div class="portfolio-div" tabindex="1">
            <img src="../../assets/1.jpg" class="image">
            <h3>Threads</h3>
            <p>Illustration</p>
        </div>
        <div class="portfolio-div" tabindex="1">
            <img src="../../assets/2.jpg" class="image">
            <h3>Explore</h3>
            <p>Graphic Design</p>
        </div>
        <div class="portfolio-div" tabindex="1">
            <img src="../../assets/3.jpg" class="image">
            <h3>Finish</h3>
            <p>Identity</p>
        </div>
    </div>
    <div class="portfolio-content2" id="portfolio">
        <div class="portfolio-div" tabindex="1">
            <img src="../../assets/4.jpg" class="image">
            <h3>Lines</h3>
            <p>Branding</p>
        </div>
        <div class="portfolio-div" tabindex="1">
            <img src="../../assets/5.jpg" class="image">
            <h3>Southwest</h3>
            <p>Website Design</p>
        </div>
        <div class="portfolio-div" tabindex="1">
            <img src="../../assets/6.jpg" class="image">
            <h3>Window</h3>
            <p>Photography</p>
        </div>
    </div>
</section>