<section class="services" id="services">
    <h2>SERVICES</h2>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
    <div class="services-content">
        <div class="card">
            <img src="../../assets/m (1).jpg" class="img">
            <h3>E-Commerce</h3>
            <pre>Lorem ipsum dolor sit amet, consectetur adipisicing
elit. Minima maxime quam architecto quo inventore
harum ex magni, dicta impedit.</pre>
        </div> 
        <div class="card">
            <img src="../../assets/m (2).jpg" class="img">
            <h3>Responsive Design</h3>
            <pre>Lorem ipsum dolor sit amet, consectetur adipisicing
elit.Minima maxime quam architecto quo inventore
harum ex magni, dicta impedit.</pre>
        </div>
        <div class="card">
            <img src="../../assets/m (3).jpg" class="img">
            <h3>Web Security</h3>
            <pre>Lorem ipsum dolor sit amet, consectetur adipisicing
elit. Minima maxime quam architecto quo inventore
harum ex magni, dicta impedit.</pre>
        </div>
    </div>
</section>