<section class="team" id="team">
    <h2>OUR AMAZING TEAM</h2>
    <p>Lorem ipsum dolor sit amet consectetur.</p> 
    <div class="team-content">
        <div class="lead">
            <img src="../../assets/1 (2).jpg" class="Designer">
            <h3>Parveen Anand</h3>
            <p>Lead Designer</p>
        </div>
        <div class="lead">
            <img src="../../assets/2 (2).jpg" class="Designer">
            <h3>Diana Petersen</h3>
            <p>Lead Marketer</p>
        </div>
        <div class="lead">
            <img src="../../assets/3 (2).jpg" class="Designer">
            <h3>Diana Petersen</h3>
            <p>Lead Developer</p>
        </div>
    </div>
    <pre>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad
perspiciatis, totam corporis ea, alias ut unde.</pre>
</section>